<div class="flex flex-wrap justify-evenly">
    @if (productsStoreItem.products().length === 0) {
        <div class="text-center w-full mt-10 text-[50px] text-gray-500 font-medium">
            <p>
                <fa-icon [icon]="faBoxOpen" class="text-[60px]"></fa-icon>
                No products found</p>
        </div>
    } @else {
    @for (product of productsStoreItem.products(); track product.id) {
    <div class="mx-4 p-3 mt-4 mb-4 flex flex-col rounded-lg shadow-md">
        <div class="overflow-hidden rounded-md">
            @defer (on viewport) {
                <a routerLink="/home/product/{{ product.id }}">
            <img [src]="'assets/images/' + product.product_img" [alt]="product.product_name" class="rounded-md mx-auto transition-transform duration-300
            ease-in-out transform hover:scale-105">
            </a>
            }@placeholder {
                <p>Loading products...</p>
            }
            <div class="p-4 text-center">

                <a routerLink="/home/product/{{ product.id }}">
                    <h5 class="font-semibold min-h-[24px]"> {{product.product_name}} </h5>
                </a>
                <p class="text-base font-normal mt-1">${{product.price}}</p>

                @if (product.ratings > 0) {
                <ng-container>
                    <app-ratings [score]="product.ratings"></app-ratings>
                </ng-container>
            }
            </div>
        </div>

    </div>
}
    }
</div>