<div class="w-full max-w-full min-h-[5rem] shadow-[5px_5px_20px_gray] flex items-center bg-gray-900 px-4 gap-6">
    
        <div class="text-white px-3 w-[23%] flex items-center">
            <h1 class="text-xl font-bold">eStore</h1>
        </div>

        @if (displaySearch()) {
        <div class="p-0 w-[50%] h-[2.5rem] flex bg-white items-center rounded-md overflow-hidden">
            <select #categoryOptions class="w-auto bg-gray-300 h-full border-none font-semibold px-2 pr-5">
                @for (category of categoryStore.topLevelCategories(); track $index) {
                    <option [value]="category.id">{{ category.category }}</option>
                }
                
            </select>
            <input #keyword class="w-[90%] h-full inline-block border-none outline-none px-3" placeholder="Search..." />
            <button (click)="onClickSearch(keyword.value, categoryOptions.value)" class="w-[10%] h-10 border-none bg-gray-300 flex justify-center items-center">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
        

        <div class="flex items-center w[27%] gap-6 justify-end h-full ml-5">
            @if (!isUserAuthenticated()) {
            <div class="flex items-center gap-2 text-white">
                <fa-icon [icon]="faUserCircle" class="text-[1.3em]"></fa-icon>
                <h5>
                    <a href="/home/login" class="text-white no-underline hover:underline">Sign in / Register</a>
                </h5>
            

            </div>
        } @if (isUserAuthenticated()) {
            <div class="relative inline-block text-left">
                <button class="inline-flex items-center gap-2 px-4 py-2 bg-gray-700
                text-white font-medium rounded-md hover:bg-gray-800 transition text-base cursor-pointer"
                (click)="toggleDropdown()">
                <fa-icon [icon]="faUserCircle" class="text-[1.3rem]">
                  
                </fa-icon>
                  Hi {{ userName() }}
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </button>

                @if (dropdownVisible) {
                    <div class="absolute right-0 mt-2 w-36 bg-white rounded-md shadow-md border
                    border-gray-200 z-50">
                        <ul class="py-1 text-sm text-gray-700">
                            <li class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">
                               <a (click)="logout()"> Logout </a> 
                            </li>
                        </ul>
                    </div>
                }
            </div>
        }

            <div class="relative flex items-center gap-4 text-white">
                <button type="button" class=" flex items-center justify-center text-white p-2
                rounded-full bg-gray-700 hover:bg-gray-800 transition-colors cursor-pointer"
                (click)="navigateToCart()">
                    <fa-icon [icon]="faShoppingCart" class="text-[1.3em]"></fa-icon>
                </button>

                @if (cart.cart()) {
                    @if (cart.totalProducts() > 0) {
                        <span class="absolute -top-1 -right-1 flex items-center justify-center text-[0.7rem]
                         font-semibold text-white bg-amber-500 rounded-full w-5 h-5">
                            {{ cart.totalProducts() }}
                        </span>
                    }

                }
                
            </div>

        </div>
    }

    
</div>